<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletCenter</servlet-name>
        <servlet-class>haanh.servlet.ServletCenter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>haanh.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogOut</servlet-name>
        <servlet-class>haanh.servlet.ServletLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSearchAccount</servlet-name>
        <servlet-class>haanh.servlet.ServletSearchAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteAccount</servlet-name>
        <servlet-class>haanh.servlet.ServletDeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHome</servlet-name>
        <servlet-class>haanh.servlet.ServletHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChangePassword</servlet-name>
        <servlet-class>haanh.servlet.ServletChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetPageInsert</servlet-name>
        <servlet-class>haanh.servlet.ServletGetPageInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertUser</servlet-name>
        <servlet-class>haanh.servlet.ServletInsertUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTest</servlet-name>
        <servlet-class>haanh.servlet.ServletTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetUserDetail</servlet-name>
        <servlet-class>haanh.servlet.ServletGetUserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateUser</servlet-name>
        <servlet-class>haanh.servlet.ServletUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetUsersByRole</servlet-name>
        <servlet-class>haanh.servlet.ServletGetUsersByRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChangeUserPassword</servlet-name>
        <servlet-class>haanh.servlet.ServletChangeUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChangeUserPhoto</servlet-name>
        <servlet-class>haanh.servlet.ServletChangeUserPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletViewCurrentUserProfile</servlet-name>
        <servlet-class>haanh.servlet.ServletViewCurrentUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertPromotion</servlet-name>
        <servlet-class>haanh.servlet.ServletInsertPromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletViewPromotions</servlet-name>
        <servlet-class>haanh.servlet.ServletViewPromotions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletePromotion</servlet-name>
        <servlet-class>haanh.servlet.ServletDeletePromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdatePromotion</servlet-name>
        <servlet-class>haanh.servlet.ServletUpdatePromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetListUsersNotInPromo</servlet-name>
        <servlet-class>haanh.servlet.ServletGetListUsersNotInPromo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddUserToPromo</servlet-name>
        <servlet-class>haanh.servlet.ServletAddUserToPromo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCenter</servlet-name>
        <url-pattern>/ServletCenter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogOut</servlet-name>
        <url-pattern>/ServletLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSearchAccount</servlet-name>
        <url-pattern>/ServletSearchAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteAccount</servlet-name>
        <url-pattern>/ServletDeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHome</servlet-name>
        <url-pattern>/ServletHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChangePassword</servlet-name>
        <url-pattern>/ServletChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetPageInsert</servlet-name>
        <url-pattern>/ServletGetPageInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertUser</servlet-name>
        <url-pattern>/ServletInsertUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTest</servlet-name>
        <url-pattern>/ServletTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetUserDetail</servlet-name>
        <url-pattern>/ServletGetUserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateUser</servlet-name>
        <url-pattern>/ServletUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetUsersByRole</servlet-name>
        <url-pattern>/ServletGetUsersByRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChangeUserPassword</servlet-name>
        <url-pattern>/ServletChangeUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChangeUserPhoto</servlet-name>
        <url-pattern>/ServletChangeUserPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletViewCurrentUserProfile</servlet-name>
        <url-pattern>/ServletViewCurrentUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertPromotion</servlet-name>
        <url-pattern>/ServletInsertPromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletViewPromotions</servlet-name>
        <url-pattern>/ServletViewPromotions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletePromotion</servlet-name>
        <url-pattern>/ServletDeletePromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdatePromotion</servlet-name>
        <url-pattern>/ServletUpdatePromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetListUsersNotInPromo</servlet-name>
        <url-pattern>/ServletGetListUsersNotInPromo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddUserToPromo</servlet-name>
        <url-pattern>/ServletAddUserToPromo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ServletCenter</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/page-404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
